@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudText Color="Color.Primary">Color.Primary</MudText>
<MudText Color="Color.Secondary">Color.Secondary</MudText>
<MudText Color="Color.Tertiary">Color.Tertiary</MudText>
<MudText Color="Color.Info">Color.Info</MudText>
<MudText Color="Color.Success">Color.Success</MudText>
<MudText Color="Color.Warning">Color.Warning</MudText>
<MudText Color="Color.Error">Color.Error</MudText>
<MudText Color="Color.Surface">Color.Surface</MudText>
