@page "/teams"
@using System.Text.Json
@rendermode InteractiveServer
@inject BlazorWebAppSymphogen.Services.ICosmosService CosmosService
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject Microsoft.Extensions.Logging.ILogger<Users> Logger
@attribute [Authorize]

<h3>Teams</h3>

@code {

}
